body {
    background-color: azure;
}

#idContenedorIndex {
    margin: 0 auto;
    padding: 20px;
    max-width: 1400px;
}

#idEncabezadoIndex {
    margin: 0;
    padding: 20px;
    width: 97%;
    height: 150px;
    background-image: url(../img/BANNER1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#idMenuIndex {
    margin: 20px auto;
    padding: 0;
    width: 100%;
}



